<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>FOREST物业管理系统后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App css -->
    <link href="assets/css/icons.min1.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/app.min1.css" rel="stylesheet" type="text/css"/>
    <script src="js/username.js"></script>
</head>

<body class="authentication-bg">

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <!-- Logo-->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="index.html">
                            <span><img src="assets/images/logo.png" alt="" height="18"></span>
                        </a>
                    </div>
                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">免费注册</h4>
                            <p class="text-muted mb-4">没有账户？创建你的账户， </p>
                        </div>
                        <form action="pages-register.html">
                            <!--<div class="form-group">
                                <label for="XtYongUserName">登录名:</label>
                                <input class="form-control" type="text" id="XtYongUserName" placeholder="请输入用户名" required>
                            </div>-->
                            1、注册条款的接受
                            一旦会员在注册页面点击“我同意接受以上注册条款”后，这就表示会员已经阅读并且同意与穆婚网达成协议，并接受所有的注册条款。
                            2、会员注册条件
                            1) 申请注册成为穆婚网的会员应全部满足下列条件：
                            必须以恋爱或者婚姻为目的；
                            必须是单身状态，包括未婚、离异或是丧偶；
                            必须年满18周岁以上。
                            2) 为更好的享有穆婚网提供的服务，会员应：向穆婚网提供本人真实、正确、最新及完整的资料；
                            随时更新登记资料，确保其有效性；
                            提供真实有效的电子邮箱地址；
                            征友过程中，务必保持征友帐号的唯一性。
                            3) 若会员提供任何错误、不实或不完整的资料，或穆婚网有理由怀疑资料为错误、 不实或不完整及违反会员注册条款的，或穆婚网有理由怀疑其会员资料、
                            言行等有悖于“严肃纯净的穆斯林婚恋交友网站”主题的， 穆婚网有权修改会员的注册昵称、独白等，或暂停或终止该会员的帐号， 或暂停或终止提供穆婚网提供的全部或部分服务。
                            会员购买的穆婚金币、穆婚服务，无论是否剩余及到期，均不退还。
                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit">返回</button>
                            </div>

                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">已经有帐号了? <a href="pages-login.html" class="text-muted ml-1"><b>登录</b></a>
                        </p>
                    </div> <!-- end col-->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    2020 - 2021 © Forest - Coderthemes.com
</footer>

<!-- App js -->
<script src="assets/js/app.min.js"></script>
</body>
</html>
