<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Real Estate Builders Free Responsive Website Templates - icon">
    <meta name="author" content="">
    <title>FOREST公司官方</title>
    <link rel="favicon" href="assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel='stylesheet' id='camera-css' href='assets/css/camera.css' type='text/css' media='all'>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->


</head>
<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.png" alt="Techro HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse" id="dd">
            <!--            <ul class="nav navbar-nav pull-right mainNav" id="dd">
                            <li class="active"><a href="web-login.html">首页</a></li>
                            <li><a href="web-projects.html">展示</a></li>
                            <li><a href="web-price.html">交费</a></li>
                            <li><a href="web-contact.html">维修</a></li>
                            <li><a href="web-about.html">投诉</a></li>
                            <li><a href="web-index.html">登录</a></li>
                        </ul>-->
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="assets/images/slides/thumbs/slide1.jpg" data-src="assets/images/slides/slide1.jpg">
                </div>
                <div data-thumb="assets/images/slides/thumbs/slide2.jpg" data-src="assets/images/slides/slide2.jpg">
                </div>
                <div data-thumb="assets/images/slides/thumbs/slide3.jpg" data-src="assets/images/slides/slide3.jpg">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->
<section id="search">
    <div class="search-panel">
    </div>
</section>
<section class="secpadding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-box clearfix "><h2 class="title-box_primary">Welcome</h2></div>
                对于小区物业管理来说，其工作流程的繁杂性、多样化、管理复杂、收缴费用与设备维护繁琐。计算机已完全能够胜任物业管理工作，而且更加准确、方便、快捷、高效、清晰、透明，它完全可以克服以上所述的不足之处。这将给项目查询和管理带来很大的方便，从而给物业管理工作带来更高的效率，这也是物业管理正规化、现代化的重要标志。
                因此，开发一套高效率、无差错的小区物业管理系统软件十分必要。本系统的主要目的是告别帐本，安全、快捷的保存数据信息。由于小区物业管理涉及到费用问题，为了增强系统的保密性，使业主利益不受损害，使业主能够对自家的物业费用和投诉等情况提供透明化、直观的了解。

            </div>
        </div>
    </div>
</section>
<section class="news-box secpadding">
    <div class="container">
        <h2><span>小区物业</span></h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news1.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>景光小区</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. </p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news2.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>天花小区</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. </p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news3.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>诺如小区</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. </p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="newsBox">
                    <div class="thumbnail">
                        <figure><img src="assets/images/news4.jpg" alt=""></figure>
                        <div class="caption maxheight2">
                            <div class="box_inner">
                                <div class="box">
                                    <p class="title"><strong>天光小区</strong></p>
                                    <p>Lorem ipsum dolor sit amet, conc tetu er adipi scing. </p>
                                </div>
                                <div>
                                    <a href="#" class="btn-inline">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="packages" class="secpadding">
    <div class="container">
        <h2><span>小区样景</span></h2>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-1.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>天光小区</h3>
                            <a class=" btn btn-default">不是自我的位置，而是自我的方向。</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-2.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>吾心小区</h3>
                            <a class=" btn btn-default"> 打开青春的天窗，给未来一个承诺</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-3.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>塞纳风光</h3>
                            <a class=" btn btn-default">春暖花会开</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-4.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>森和小区</h3>
                            <a class=" btn btn-default">花开满圆</i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-5.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>京林小区</h3>
                            <a class=" btn btn-default">相遇就是缘分，相处就是续缘</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-6.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>左岸汀芷</h3>
                            <a class=" btn btn-default">大千世界，无奇不有</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-7.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>奥林水榭</h3>
                            <a class=" btn btn-default">相处就是续缘，相知就是惜缘</i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3  col-sm-6">
                <div class="cuadro_intro_hover " style="background-color:#cccccc;">
                    <p style="text-align:center;">
                        <img src="assets/images/pic/pic-8.jpg" class="img-responsive" alt="">
                    </p>
                    <div class="caption">
                        <div class="blur"></div>
                        <div class="caption-text">
                            <h3>水岸林邸</h3>
                            <a class=" btn btn-default">鸟语花香，青山绿水</i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="btm-section secpadding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title-box clearfix "><h3 class="title-box_primary">优秀小区物业</h3></div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                        >水岸林邸</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                        >奥林水榭</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." ss>RNT
                            Commercial Shopping Mall</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci.">福慧安家园</a>
                        </li>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                        >京林公园</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                        >森和阳光</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="title-box clearfix "><h3 class="title-box_primary"></h3></div>
                <div class="list styled custom-list">
                    <ul>
                        <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                        >物业电话：157-3762-6628</a></li>
                        <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                        >物业邮箱：wh508377132@163.com</a></li>
                        <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus.">
                            物业地址：</a></li>
                        <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
                        >河南省郑州市中原区郑州轻工业大学（科学小区）</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="title-box clearfix "><h3 class="title-box_primary">我们的服务宗旨：</h3></div>
                <blockquote class="blockquote-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Anim
                        pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </div>

        </div>
    </div>
</section>


<footer id="footer">

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="simplenav">
                            <a href="web-login.html">首页</a> |
                            <a href="web-projects.html">展示风采</a> |
                            <a href="web-price.html">费用信息</a> |
                            <a href="web-contact.html">维修管理</a> |
                            <a href="web-about.html">投诉管理</a> |
                            <a href="web-customer.html">客服管理</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 panel">
                    <div class="panel-body">
                        <p class="text-right">
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of panels -->
        </div>
    </div>
</footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="assets/js/modernizr-latest.js"></script>
<script type='text/javascript' src='assets/js/jquery.min.js'></script>
<script type='text/javascript' src='assets/js/fancybox/jquery.fancybox.pack.js'></script>

<script type='text/javascript' src='assets/js/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='assets/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='assets/js/camera.min.js'></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/custom.js"></script>
<script>
    jQuery(function () {
        jQuery('#camera_wrap_4').camera({
            height: '750',
            loader: 'bar',
            pagination: false,
            thumbnails: false,
            hover: false,
            opacityOnGrid: false,
            imagePath: 'assets/images/'
        });

    });
    jQuery(function () {
        var data = {
            "num": 1
        };
        jQuery.ajax({
            url: "indexZhu",
            type: "POST",
            dataType: "json",
            contentType: 'application/json;charset=utf-8',
            data: JSON.stringify(data),
            success: function (data) {
                var str = null;
                if (data.code == 200) {
                    str += "<ul class='nav navbar-nav pull-right mainNav'>";
                    str += "<li class=\"active\"><a href='web-login.html'>首页</a></li>";
                    str += "<li><a href='web-projects.html'>展示风采</a></li>";
                    str += "<li><a href='web-price.html'>费用信息</a></li>";
                    str += "<li><a href='web-contact.html'>维修管理</a></li>";
                    str += "<li><a href='web-about.html'>投诉管理</a></li>";
                    str += "<li><a href='web-customer.html'>客服管理</a></li>";
                    str += "<li><a href='web-index.html'>登录</a></li>";
                    str += " </ul>";
                } else if (data.code == 500) {
                    str += "<ul class='nav navbar-nav pull-right mainNav'>";
                    str += "<li class=\"active\"><a href='web-login.html'>首页</a></li>";
                    str += "<li><a href='web-projects.html'>展示风采</a></li>";
                    str += "<li><a href='web-price.html'>费用信息</a></li>";
                    str += "<li><a href='web-contact.html'>维修管理</a></li>";
                    str += "<li><a href='web-about.html'>投诉管理</a></li>";
                    str += "<li><a href='web-customer.html'>客服管理</a></li>";
                    str += "<li><a href='/forest/TuiChu'>注销</a></li>";
                    str += " </ul>";
                }
                jQuery("#dd").empty();
                jQuery("#dd").append(str);
            }
        });
    });
</script>

</body>
</html>
